.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-heading:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.header-navlink1 {
  display: contents;
}
.header-container1 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
  text-decoration: none;
}
.header-container1:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.header-icon {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.header-text {
  color: var(--dl-color-gray-white);
  font-size: 15.5904px;
  margin-left: var(--dl-space-space-halfunit);
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon02 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.header-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-link {
  display: contents;
}
.header-icon04 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-icon04:hover {
  fill: var(--dl-color-gray-700);
}
.header-link1 {
  display: contents;
}
.header-icon06 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  margin-left: var(--dl-space-space-triplequarter);
  margin-right: var(--dl-space-space-triplequarter);
  margin-bottom: var(--dl-space-space-triplequarter);
  text-decoration: none;
}
.header-icon06:hover {
  fill: var(--dl-color-gray-700);
}
.header-link2 {
  display: contents;
}
.header-icon08 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon08:hover {
  fill: var(--dl-color-gray-700);
}
.header-link3 {
  display: contents;
}
.header-icon10 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon10:hover {
  fill: var(--dl-color-gray-700);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink2 {
  display: contents;
}
.header-heading1 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon12 {
  width: 24px;
  height: 24px;
}
.header-mid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.header-navlink3 {
  display: contents;
}
.header-container3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
.header-icon14 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text1 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-link4 {
  display: contents;
}
.header-icon16 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-icon16:hover {
  fill: var(--dl-color-gray-700);
}
.header-link5 {
  display: contents;
}
.header-icon18 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  margin-left: var(--dl-space-space-triplequarter);
  margin-right: var(--dl-space-space-triplequarter);
  margin-bottom: var(--dl-space-space-triplequarter);
  text-decoration: none;
}
.header-icon18:hover {
  fill: var(--dl-color-gray-700);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.header-link6 {
  display: contents;
}
.header-icon20 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon20:hover {
  fill: var(--dl-color-gray-700);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.header-link7 {
  display: contents;
}
.header-icon22 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin: var(--dl-space-space-triplequarter);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon22:hover {
  fill: var(--dl-color-gray-700);
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.header-root-class-name {
  margin-bottom: 0px;
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-icon04 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon16 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-heading {
    color: var(--dl-color-secondary-400);
  }
  .header-container1 {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon02 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container2 {
    display: none;
  }
  .header-bot {
    display: none;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .header-header {
    z-index: 2;
  }
  .header-container2 {
    display: none;
  }
  .header-mobile-menu {
    height: auto;
    display: none;
    z-index: 2;
    align-items: flex-start;
  }
  .header-text1 {
    color: var(--dl-color-secondary-400);
  }
  .header-bot {
    display: flex;
    align-self: flex-start;
    margin-top: var(--dl-space-space-tripleunit);
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-icon16 {
    fill: var(--dl-color-secondary-300);
    margin-top: var(--dl-space-space-triplequarter);
    margin-left: 0px;
    margin-right: var(--dl-space-space-triplequarter);
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-icon18 {
    fill: var(--dl-color-secondary-300);
  }
  .header-icon20 {
    fill: var(--dl-color-secondary-300);
  }
  .header-icon22 {
    fill: var(--dl-color-secondary-300);
  }
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container01 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
}
.footer-link {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--dl-color-secondary-100);
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-link1 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link1:hover {
  color: var(--dl-color-secondary-100);
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-container04 {
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container05:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-900);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-link2 {
  display: contents;
}
.footer-icon {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container06:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-900);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-link3 {
  display: contents;
}
.footer-icon2 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container07:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-900);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-icon4 {
  fill: #37BCF8;
  width: 16px;
  height: 16px;
}
.footer-container08 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-container08:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-900);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.footer-icon6 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
.footer-container09 {
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.footer-text1 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-navlink {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link4 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link5 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-navlink1 {
  color: var(--dl-color-secondary-500);
  text-decoration: none;
}
.footer-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-text2 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container03 {
    margin: 0px;
    align-items: center;
  }
  .footer-container04 {
    margin: var(--dl-space-space-unit);
  }
  .footer-container09 {
    align-self: center;
    align-items: center;
    margin-right: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .footer-container03 {
    margin: 0px;
  }
  .footer-link {
    text-align: center;
  }
  .footer-link1 {
    text-align: center;
  }
  .footer-container04 {
    margin: var(--dl-space-space-unit);
  }
  .footer-container09 {
    padding: 0px;
    align-self: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .footer-container03 {
    margin: 0px;
  }
  .footer-container04 {
    margin: var(--dl-space-space-unit);
  }
  .footer-container09 {
    align-self: center;
    align-items: center;
    margin-right: 0px;
    padding-right: 0px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.home-container01 {
  width: 100%;
  height: 180px;
  display: flex;
  z-index: 100;
  align-self: center;
  align-items: center;
  animation-name: zoomIn;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.home-container02 {
  display: flex;
  align-items: center;
  animation-name: zoomIn;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 700ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-text01 {
  color: var(--dl-color-gray-900);
  max-width: 600px;
  text-align: center;
}
.home-container03 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 305px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-bg {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 100%;
  height: 305px;
  display: flex;
  opacity: 0.2;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.home-bg1 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 100%;
  height: 305px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/unsplash-image-1500w.jpeg");
  background-repeat: no-repeat;
  background-position: top;
}
.home-section1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 30px 0px #000000;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.home-container04 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-container05 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text02 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.home-text03 {
  color: var(--dl-color-secondary-700);
  text-align: center;
  margin-bottom: 0.25rem;
}
.home-cards-container {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-card1:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-pimary-800);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container07 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://www.snow-mirror.com/wp-content/uploads/2014/11/task-scheduler-icon1.jpeg');
  background-position: center;
}
.home-text04 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text05 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-link1 {
  display: contents;
}
.home-card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-card2:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-pimary-800);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container08 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/premium-vector/ai-technology-icon-artificial-intelligence-machine-learning-concepts-futuristic-ai-symbol_689336-880.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.home-text06 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text07 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-card3 {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container09 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://static.thenounproject.com/png/1753488-200.png');
}
.home-text08 {
  color: var(--dl-color-secondary-100);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text09 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-text10 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-work-with-us {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container10 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.home-container10:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container11 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://images.unsplash.com/photo-1622883618971-97068745dc6c?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fHBpenphJTIwZGVsaXZlcnl8ZW58MHx8fHwxNzA3NTIyOTAzfDA&ixlib=rb-4.0.3&w=1400');
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.home-image {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.home-container12 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text11 {
  font-size: 1.25rem;
}
.home-text12 {
  color: #f2f5f9;
}
.home-text14 {
  color: rgb(242, 245, 249);
  margin-top: var(--dl-space-space-unit);
}
.home-container13 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: #09A6E9;
}
.home-container13:hover {
  animation-name: pulse;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container14 {
  width: 100%;
  height: 269px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("https://images.unsplash.com/photo-1601987177651-8edfe6c20009?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQzfHxnYW1lfGVufDB8fHx8MTcwNzUyMjk0NXww&ixlib=rb-4.0.3&w=1400");
  background-position: center;
  border-top-left-radius: var(--dl-radius-radius-radius50);
  border-top-right-radius: var(--dl-radius-radius-radius50);
}
.home-image1 {
  top: auto;
  left: auto;
  width: 100%;
  bottom: 0px;
  object-fit: cover;
  margin-bottom: -1px;
}
.home-container15 {
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text17 {
  font-size: 1.25rem;
}
.home-text18 {
  color: #f2f5f9;
}
.home-text20 {
  color: rgb(242, 245, 249);
  margin-top: var(--dl-space-space-unit);
}
.home-section3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-secondary-100);
}
.home-text23 {
  color: var(--dl-color-gray-white);
}
.home-text24 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.home-cards-container1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-link2 {
  display: contents;
}
.home-card11 {
  flex: 0 0 auto;
  width: 30%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
}
.home-card11:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-secondary-300);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container17 {
  flex: 1;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://assets-global.website-files.com/61406347b8db463e379e2732/6179a4b4a822af18eec7cbd4_After_Effects_Logo-small.png');
  background-position: center;
}
.home-text27 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text28 {
  color: var(--dl-color-secondary-700);
  margin: auto;
  font-size: 1rem;
  align-self: flex-end;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-card31 {
  flex: 0 0 auto;
  width: 30%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
}
.home-card31:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-secondary-300);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container18 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://static.vecteezy.com/system/resources/previews/014/527/495/non_2x/plain-black-dslr-camera-free-png.png');
}
.home-text29 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text30 {
  color: var(--dl-color-secondary-700);
  margin: auto;
  font-size: 1rem;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-link3 {
  display: contents;
}
.home-card21 {
  flex: 0 0 auto;
  width: 30%;
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  text-decoration: none;
}
.home-card21:hover {
  animation-name: pulse;
  animation-delay: 0s;
  background-color: var(--dl-color-secondary-300);
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-container19 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius25);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1053/1053916.png');
  background-repeat: no-repeat;
  background-position: center;
}
.home-text31 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Open Sans;
}
.home-text32 {
  color: var(--dl-color-secondary-700);
  margin: auto;
  font-size: 1rem;
  text-align: center;
  font-family: "Open Sans";
  line-height: 1.625rem;
}
.home-section31 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-secondary-100);
}
.home-text33 {
  color: var(--dl-color-gray-white);
}
.home-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container21 {
  display: flex;
  position: relative;
}
.home-heading {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}
.home-container22 {
  display: flex;
  position: relative;
}
.home-text34 {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}
.home-container23 {
  display: flex;
  position: relative;
}
.home-text35 {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}
.home-container24 {
  display: flex;
  position: relative;
}
.home-text36 {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}
.home-container25 {
  display: flex;
  position: relative;
}
.home-text37 {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}
@media(max-width: 991px) {
  .home-section1 {
    height: auto;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card3 {
    width: 90%;
    height: 208px;
  }
  .home-container10 {
    width: 400px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-container13 {
    width: 400px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-section3 {
    height: 966px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .home-card11 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card31 {
    width: 90%;
    height: 208px;
  }
  .home-card21 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-section31 {
    height: auto;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .home-section1 {
    height: auto;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container05 {
    width: 100%;
  }
  .home-cards-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-card3 {
    height: 328px;
  }
  .home-text10 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-work-with-us {
    margin-top: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container10 {
    width: 100%;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container13 {
    width: 100%;
  }
  .home-section3 {
    height: auto;
    padding: var(--dl-space-space-doubleunit);
  }
  .home-card31 {
    height: 328px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card21 {
    margin-bottom: 0px;
  }
  .home-section31 {
    height: auto;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    z-index: 1;
  }
  .home-text {
    color: var(--dl-color-gray-white);
  }
  .home-text01 {
    color: var(--dl-color-gray-900);
  }
  .home-bg1 {
    z-index: 0;
  }
  .home-section1 {
    width: auto;
    height: auto;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container04 {
    max-width: auto;
  }
  .home-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text05 {
    text-align: left;
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text07 {
    text-align: left;
  }
  .home-card3 {
    height: 202px;
  }
  .home-text09 {
    text-align: left;
  }
  .home-container10 {
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container13 {
    margin-top: auto;
    margin-bottom: auto;
  }
  .home-container15 {
    padding: var(--dl-space-space-twoandhalf);
  }
  .home-section3 {
    height: auto;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text28 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    align-self: center;
    text-align: center;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-card31 {
    height: 300px;
    padding: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text30 {
    align-self: center;
    text-align: center;
  }
  .home-card21 {
    height: 300px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text32 {
    align-self: center;
    text-align: center;
  }
  .home-section31 {
    height: auto;
  }
  .home-text33 {
    text-align: center;
  }
}
